.board-container{
  width: 400px;
  margin: 25px auto;
}
.board-row{
  display: flex;
  justify-content: space-evenly;
}
.square{
  border: 2px solid aqua;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}